{{define "title"}}Home{{end}}

{{define "content"}}
<div class="home-content">
    

    <section class="about">

        {{.AboutHTML}}

    </section>
    
    
    
        <h2>Latest Blog Posts</h2>
    
        
    
            <div class="post-list">
    
        
    
                {{range .Posts}}
    
        
    
                <a href="/post/{{.Slug}}" class="post-card-link">
                <article class="post-list-item">
    
        
    
                    <header class="post-header">
    
        
    
                        <h3>{{.Title}}</h3>
    
        
    
                        <time class="post-date">{{.CreatedAt.Format "Jan 02, 2006"}}</time>
    
        
    
                    </header>
    
        
    
                </article>
                </a>
    
        
    
                {{else}}
    
        
    
                <p>No posts yet.</p>
    
        
    
                {{end}}
    
        
    
            </div>
    
        
    
</div>
{{end}}
    
        
    
        

        

    

    