{{define "title"}}{{.Post.Title}}{{end}}

{{define "content"}}
<div class="post-layout">
    <article>
        <header>
            <h1>{{.Post.Title}}</h1>
            <p>
                <small>
                    Posted on {{.Post.CreatedAt.Format "January 02, 2006"}}
                    <span style="margin: 0 5px;">•</span>
                    {{.Post.ReadingTime}}
                </small>
                {{if .Post.ShowUpdated}}
                <br>
                <small>Last updated on {{.Post.UpdatedAt.Format "January 02, 2006"}}</small>
                {{end}}
            </p>
            {{if .Post.Tags}}
            <div class="tags" style="justify-content: center; margin-top: 15px;">
                {{range .Post.Tags}}
                <span class="tag">#{{.}}</span>
                {{end}}
            </div>
            {{end}}
        </header>
        
        <div class="content">
            {{.ContentHTML}}
        </div>
    </article>

    <p><a href="/">Back to Home</a></p>
</div>
{{end}}
